<div class="container">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
                <section class="widget widget-login">
                    <header>
                        <h3>Login to your dashboard</h3>
                    </header>
                    <div class="widget-body">
                        <form class="login-form mt-lg">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="vm.user.username" name="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="pswd" ng-model="vm.user.password" name="password" type="password" placeholder="Password" >
                            </div>
                            <div class="clearfix">
                                <div class="btn-toolbar pull-right">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="vm.login()">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>