.dash-widget{
  color: white;
  font-size: 17px;
  font-weight: bold;
  a {
    text-decoration: none;
    color: white;
  }
  .widget-action {
    cursor: pointer;
  }
  .widget-icon {
    position: absolute;
    font-size: 4em;
  }
  .widget-info {
    position: relative;
    margin-bottom: 5px;
  }
  .widget-text {
    margin-left: 80px;
  }
  .huge {
    font-size: 30px;
  }
  &.posts-total {
    background-color: $dashboard-blue;
  }
  &.posts-today {
    background-color: $dashboard-green;
  }
  &.last-edited {
    background-color: $dashboard-red;
  }
  &.posts-this-month {
    background-color: $dashboard-yellow;
  }
}