html, body {
  height: 100%;
  font-size: $font-size-mini;
  color: $text-muted;
}

.app {
  height: 100%;
  color: $text-color;
}

.widget {
  position: relative;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 3px;
}