$login-page-bg: #ddd;

.login-page{
  background-color: $login-page-bg;
}

.widget-login-container{
  padding-top: 10%;
}

.widget-login{
  padding: 30px;
}

.widget-login-info{
  font-size: 13px;
  color: #888;
  margin-top: 1px;
  margin-bottom: 0;
}

.login-form{
  .form-control{
    font-size: 13px;
    border: none;
    background-color: $gray-lighter;
    &:focus{
      background-color: $login-page-bg;
    }
  }
}

.widget-login-container + .page-footer {
  margin-bottom: 30px;
  font-size: 13px;
  color: $text-muted;
  text-align: center;

  @media (min-height: 600px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
