input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}

.form-group .error-container {
  display: none;
}

.form-group.has-error .error-container {
  display: block;
}