// ADS variables
// -------------------------
// -------------------------

$body-bg: #ddd;
$text-color: #555;

$sidebar-width: 200px;
$sidebar-bg: #fff !default;
$sidebar-color: #666 !default;
$sidebar-item-border-color: lighten($body-bg, 5%) !default;
$sidebar-item-hover-bg-color: #f7f7f7 !default;

$font-weight-bold: 700 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-thin: 300 !default;
$font-weight-base: $font-weight-thin !default;

$content-padding-vertical: 40px !default;
$content-padding-horizontal: 40px !default;

// Widgets
// -------------------------

$widget-padding-vertical: 15px !default;
$widget-padding-horizontal: 20px !default;
$widget-bg-color: #fff;


//-- Dashboard
//

$dashboard-blue: #337ab7;
$dashboard-green: #5cb85c;
$dashboard-yellow: #f0ad4e;
$dashboard-red: #d9534f;

//-- Iconography
//

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/" !default;


$navbar-border-radius: 0;
