<div class="profile-container">
    <h2>Profile</h2>
    <form name="ProfileForm" ng-submit="vm.save()">
        <label>
            Username
            <input type="text" name="username" ng-model="vm.profileInfo.username" />
        </label>
        <label>
            Email
            <input type="email" name="email" ng-model="vm.profileInfo.email"/>
        </label>
        <label>
            Password
            <input type="password" ng-model="vm.profileInfo.password" />
        </label>
        <label>
            New password
            <input type="password" ng-model="vm.profileInfo.newPassword" />
        </label>
        <button type="submit">Save</button>
        <button type="button" ng-click="vm.setDefaultProfileInfo()">Cancel</button>
    </form>
</div>
