<ol class="breadcrumb">
  <li><span class="text-muted">YOU ARE HERE</span></li>
  <li class="active">Dashboard</li>
</ol>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <widget-stat widget-class="bg-sidebar"
                 ui-sref="app.posts"
                 icon-text="{{posts.length}}" icon-class="text-success">
      posts total
    </widget-stat>
  </div>
  <div class="col-md-3 col-sm-6">
    <widget-stat widget-class="bg-sidebar"
                 icon-class="fa fa-shopping-cart mt-n-xs text-white">
      new orders
    </widget-stat>
  </div>
  <div class="col-md-3 col-sm-6">
    <widget-stat widget-class="bg-sidebar"
                 ui-sref="app.editPost({id: lastEditedPost.id})"
                 icon-class="fa fa-calendar text-white">
      last edited
    </widget-stat>
  </div>
  <div class="col-md-3 col-sm-6">
    <widget-stat widget-class="bg-sidebar"
                 ui-sref="app.posts"
                 icon-text="{{postsLastMonth.length}}" icon-class="text-warning">
      posts last month
    </widget-stat>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <widget ng-include="'app/modules/dashboard/dash_users/dash_users.html'">
    </widget>
  </div>
  <div class="col-md-6">
    <alert data-ng-repeat="alert in alerts" data-type="{{alert.type}} alert-sm" data-close="closeAlert($index)">
      <div data-ng-bind-html="alert.msg"></div>
    </alert>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <widget>
      <small class="pull-right"><a class="td-underline text-muted" href="#"><span class="text-muted">Options</span></a></small>
      <h5 class="widget-title">
        Recently <span class="fw-semi-bold">Published</span>
        <span class="badge bg-success">17</span>
      </h5>
      <p class="text-muted mt-n-sm small">posts, that have been created recently</p>
      <table class="table table-no-border table-sm mb-0">
        <tr ng-repeat="post in postsRecently">
          <td>{{post.date | date:' MMM dd, hh:mm'}}</td>
          <td>
            <a ui-sref="app.editPost({id: post.id})">{{post.title}}</a>
          </td>
        </tr>
      </table>
    </widget>
  </div>
  <div class="col-md-6">
    <div class="list-group no-border">
      <a href="#" class="list-group-item"><i class="glyphicon glyphicon-phone mr-xs opacity-70"></i> Incoming calls <span class="badge bg-danger">3</span></a>
      <a href="#" class="list-group-item"><i class="glyphicon glyphicon-bell mr-xs opacity-70"></i> Notifications <span class="badge bg-warning">6</span></a>
      <a href="#" class="list-group-item"><i class="glyphicon glyphicon-comment mr-xs opacity-70"></i> Messages <span class="badge bg-success">18</span></a>
      <a href="#" class="list-group-item"><i class="glyphicon glyphicon-eye-open mr-xs opacity-70"></i> Visits total</a>
      <a href="#" class="list-group-item"><i class="glyphicon glyphicon-cloud mr-xs opacity-70"></i> Inbox <i class="fa fa-chevron-right pull-right text-gray-light"></i></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <widget>
      <h5 class="widget-title"><i class="glyphicon glyphicon-cog mr-xs"></i> Custom <span class="fw-semi-bold">Loader</span></h5>
      <div class="widget-body" style="min-height: 157px">
        <div class="loader">
          <span class="spinner">
              <i class="fa fa-circle-o-notch fa-spin"></i>
          </span>
        </div>
      </div>
    </widget>
  </div>
</div>
