<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="widget edit-post">
            <h2>{{vm.post.id ? 'Edit' : 'Create new'}} post</h2>
            <form role="form" name="PostForm" class="form-horizontal" ng-submit="vm.post.id ? vm.update() : vm.save()" >
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="post-title">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.post.title" id="post-title"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="post-description">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" ng-model="vm.post.description" id="post-description"/>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <span ng-if="vm.post.id">
                        <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
                        <button type="button" class="btn btn-danger" ng-click="vm.delete()">Delete</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
