<div>
    <header class="logo hidden-xs">
        <a>{{app.name}}</a>
    </header>
    <ul class="sidebar-nav">
        <li>
            <a class="collapsed" data-target="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
                Dashboard
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-dashboard" class="collapse">
                <li><a>Dashboard</a></li>
                <li><a>Widgets</a></li>
            </ul>
        </li>
        <li>
            <a>
                Email
            </a>
        </li>
        <li>
            <a>
                Charts
            </a>
        </li>
    </ul>

</div>